{% set meta = {
    slug: '/components/alert',
    title: 'alert',
    description: 'Display alert messages with different variants and optional icons.',
    canonical: 'app_home',
    isComponent: true,
    order: 3,
    section: 'components',
    image: 'images/components/alert.svg',
} %}

<div class="space-y-16">
    <div class="flex items-center space-x-4 mb-8">
        <div class="w-8 h-8 bg-primary text-primary-foreground rounded-lg flex items-center justify-center">
            <twig:ux:icon name="lucide:alert-circle" class="size-4"/>
        </div>
        <h2 class="text-2xl font-bold text-gray-900">Usage</h2>
    </div>
    <div class="space-y-8">
        <twig:Layout:Doc:Preview title="Default">
            {{ include('preview/alert/default.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/alert/default.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Destructive">
            {{ include('preview/alert/destructive.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/alert/destructive.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Success">
            {{ include('preview/alert/success.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/alert/success.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Warning">
            {{ include('preview/alert/warning.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/alert/warning.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Info">
            {{ include('preview/alert/info.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/alert/info.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
    </div>
</div>