{% set meta = {
    slug: '/components/badge',
    title: 'badge',
    description: 'Display a badge with different variants and styles.',
    canonical: 'app_home',
    isComponent: true,
    order: 2,
    section: 'components',
    image: 'images/components/badge.svg',
} %}

<div class="space-y-16">
    <div class="flex items-center space-x-4 mb-8">
        <div class="w-8 h-8 bg-primary text-primary-foreground rounded-lg flex items-center justify-center">
            <twig:ux:icon name="lucide:tag" class="size-4"/>
        </div>
        <h2 class="text-2xl font-bold text-gray-900">Usage</h2>
    </div>
    <div class="space-y-8">
        <twig:Layout:Doc:Preview title="Default">
            {{ include('preview/badge/default.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/badge/default.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Secondary">
            {{ include('preview/badge/secondary.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/badge/secondary.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Destructive">
            {{ include('preview/badge/destructive.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/badge/destructive.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Outline">
            {{ include('preview/badge/outline.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/badge/outline.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Success">
            {{ include('preview/badge/success.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/badge/success.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Warning">
            {{ include('preview/badge/warning.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/badge/warning.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Info">
            {{ include('preview/badge/info.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/badge/info.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
    </div>
</div>