{% set meta = {
    slug: '/components/button',
    title: 'button',
    description: 'Render a buttons/link with optional icons (prefix, suffix, both).',
    canonical: 'app_home',
    isComponent: true,
    order: 1,
    section: 'components',
    image: 'images/components/button.svg',
} %}

<div class="space-y-16">
    <div class="flex items-center space-x-4 mb-8">
        <div class="w-8 h-8 bg-primary text-primary-foreground rounded-lg flex items-center justify-center">
            <twig:ux:icon name="lucide:palette" class="size-4"/>
        </div>
        <h2 class="text-2xl font-bold text-gray-900">Usage</h2>
    </div>
    <div class="space-y-8">
        <twig:Preview
            title="Primary"
            component="button"
            previewFile="primary"
        >
            {{ include('preview/button/primary.html.twig') }}
        </twig:Preview>
        <twig:Preview
            title="Secondary"
            component="button"
            previewFile="secondary"
        >
            {{ include('preview/button/secondary.html.twig') }}
        </twig:Preview>
        <twig:Preview
            title="Outline"
            component="button"
            previewFile="outline"
        >
            {{ include('preview/button/outline.html.twig') }}
        </twig:Preview>
        <twig:Preview
            title="Ghost"
            component="button"
            previewFile="ghost"
        >
            {{ include('preview/button/ghost.html.twig') }}
        </twig:Preview>
        <twig:Preview
            title="Destructive"
            component="button"
            previewFile="destructive"
        >
            {{ include('preview/button/destructive.html.twig') }}
        </twig:Preview>
        <twig:Preview
            title="Success"
            component="button"
            previewFile="success"
        >
            {{ include('preview/button/success.html.twig') }}
        </twig:Preview>
        <twig:Preview
            title="Warning"
            component="button"
            previewFile="warning"
        >
            {{ include('preview/button/warning.html.twig') }}
        </twig:Preview>
        <twig:Preview
            title="Info"
            component="button"
            previewFile="info"
        >
            {{ include('preview/button/info.html.twig') }}
        </twig:Preview>
        <twig:Preview
            title="Link"
            component="button"
            previewFile="link"
        >
            {{ include('preview/button/link.html.twig') }}
        </twig:Preview>
        <twig:Preview
            title="Sizes"
            component="button"
            previewFile="sizes"
        >
            {{ include('preview/button/sizes.html.twig') }}
        </twig:Preview>
    </div>
</div>
