{% set meta = {
    slug: '/components/button',
    title: 'button',
    description: 'Render a buttons/link with optional icons (prefix, suffix, both).',
    canonical: 'app_home',
    isComponent: true,
    order: 1,
    section: 'components',
    image: 'images/components/button.png',
} %}

<div class="space-y-16">
    <div class="flex items-center space-x-4 mb-8">
        <div class="w-8 h-8 bg-primary text-primary-foreground rounded-lg flex items-center justify-center">
            <twig:ux:icon name="lucide:palette" class="size-4"/>
        </div>
        <h2 class="text-2xl font-bold text-gray-900">Usage</h2>
    </div>
    <div class="space-y-8">
        <twig:Layout:Doc:Preview title="Primary">
            {{ include('preview/button/primary.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/button/primary.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Secondary">
            {{ include('preview/button/secondary.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/button/secondary.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Outline">
            {{ include('preview/button/outline.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/button/outline.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Ghost">
            {{ include('preview/button/ghost.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/button/ghost.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Destructive">
            {{ include('preview/button/destructive.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/button/destructive.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Success">
            {{ include('preview/button/success.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/button/success.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Warning">
            {{ include('preview/button/warning.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/button/warning.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Info">
            {{ include('preview/button/info.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/button/info.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Link">
            {{ include('preview/button/link.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/button/link.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Sizes">
            {{ include('preview/button/sizes.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/button/sizes.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
    </div>
</div>
