{% set meta = {
    slug: '/components/input-group',
    title: 'Input Group',
    description: 'Displays supplementary information or interactive elements alongside input fields or textareas.',
    canonical: 'app_home',
    isComponent: true,
    order: 23,
    section: 'components',
    image: 'images/components/input-group.png',
} %}

<div class="space-y-16">
    <div class="mb-8">
        <h2 class="text-2xl font-bold text-gray-900">Usage</h2>
        <p class="text-gray-600 mt-2">The Input Group component displays supplementary information or interactive elements alongside input fields or textareas, enabling richer form interactions.</p>
    </div>

    <div class="space-y-12">
        <twig:Layout:Doc:Preview title="Examples">
            {{ include('preview/input-group/basic.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/input-group/basic.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Icon">
            {{ include('preview/input-group/icon.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/input-group/icon.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Text">
            {{ include('preview/input-group/text.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/input-group/text.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Button">
            {{ include('preview/input-group/button.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/input-group/button.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Tooltip">
            {{ include('preview/input-group/tooltip.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/input-group/tooltip.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Textarea">
            {{ include('preview/input-group/textarea.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/input-group/textarea.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Spinner">
            {{ include('preview/input-group/spinner.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/input-group/spinner.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Label">
            {{ include('preview/input-group/label.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/input-group/label.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Dropdown">
            {{ include('preview/input-group/dropdown.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/input-group/dropdown.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Button Group">
            {{ include('preview/input-group/button-group.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/input-group/button-group.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
    </div>
</div>
