{% set meta = {
    slug: '/components/popover',
    title: 'Popover',
    description: 'A popover is a floating panel that displays content over other page elements.',
    canonical: 'app_home',
    isComponent: true,
    order: 8,
    section: 'components',
    image: 'images/components/popover.png',
} %}

<div class="space-y-16">
    <div class="mb-8">
        <h2 class="text-2xl font-bold text-gray-900">Usage</h2>
        <p class="text-gray-600 mt-2">The popover component is used to display floating panels with arbitrary content — perfect for things like navigation menus, tooltips, and flyouts.</p>
    </div>

    <div class="space-y-12">
        <twig:Layout:Doc:Preview title="Basic">
            {{ include('preview/popover/basic.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/popover/basic.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Placements">
            {{ include('preview/popover/placements.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/popover/placements.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Custom gap">
            {{ include('preview/popover/custom-gap.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/popover/custom-gap.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Flip">
            {{ include('preview/popover/flip.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/popover/flip.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Shift">
            {{ include('preview/popover/shift.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/popover/shift.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Hide">
            {{ include('preview/popover/hide.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/popover/hide.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Auto Placement">
            {{ include('preview/popover/auto-placement.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/popover/auto-placement.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

        <twig:Layout:Doc:Preview title="Lock screen">
            {{ include('preview/popover/lock.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/popover/lock.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>

    </div>
</div>
