{% set meta = {
    slug: '/components/tabs',
    title: 'Tabs',
    description: 'A set of layered sections of content—known as tab panels—that are displayed one at a time.',
    canonical: 'app_home',
    isComponent: true,
    order: 7,
    section: 'components',
    image: 'images/components/tabs.png',
} %}

<div class="space-y-16">
    <div class="flex items-center space-x-4 mb-8">
        <h2 class="text-2xl font-bold text-gray-900">Usage</h2>
    </div>

    <div class="space-y-12">
        <twig:Layout:Doc:Preview title="Basic">
            {{ include('preview/tabs/basic.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/tabs/basic.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Manual Activation">
            {{ include('preview/tabs/manual.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/tabs/manual.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Default Second Panel">
            {{ include('preview/tabs/default-second.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/tabs/default-second.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="External Controls">
            {{ include('preview/tabs/external-controls.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/tabs/external-controls.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
        <twig:Layout:Doc:Preview title="Vertical">
            {{ include('preview/tabs/vertical.html.twig') }}
            <twig:block name="code">
                <twig:Code files="preview/tabs/vertical.html.twig"/>
            </twig:block>
        </twig:Layout:Doc:Preview>
    </div>
</div>
