<!DOCTYPE html>
<html lang="{{ app.locale|default('en') }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% set seo_title_content %}
            {% block seo_title %}
                {{ 'seo.default.title'|trans }}
            {% endblock %}
        {% endset %}
        {% set seo_description_content %}
            {% block seo_description %}
                {{ 'seo.default.description'|trans }}
            {% endblock %}
        {% endset %}
        {% set seo_keywords_content %}
            {% block seo_keywords %}
                {{ 'seo.default.keywords'|trans }}
            {% endblock %}
        {% endset %}

        {{ include('./seo/_default.html.twig') }}
        {{ include('./seo/_og.html.twig') }}
        {{ include('./seo/_twitter.html.twig') }}

        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {{ include('./integrations/ga4.html.twig') }}
        {{ include('./integrations/onedollarstats.html.twig') }}
        {{ include('./integrations/clarity.html.twig') }}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
