<title>{% block title %}{{ seo_title_content }}{% endblock %}</title>
<meta name="title" content="{{ seo_title_content }}">
<meta name="description" content="{{ seo_description_content }}">
<meta name="keywords" content="{{ seo_keywords_content }}">
<meta name="author" content="HarmonyUI">
<meta name="robots" content="index, follow">

<link rel="canonical" href="{% block seo_canonical %}{{ app.request.uri }}{% endblock %}">

<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<meta name="theme-color" content="#3b82f6">
<meta name="msapplication-TileColor" content="#3b82f6">

<meta name="language" content="{{ app.locale|default('en') }}">
