<title>{% block title %}{{ seo_title_content }}{% endblock %}</title>
<meta name="title" content="{{ seo_title_content }}">
<meta name="description" content="{{ seo_description_content }}">
<meta name="keywords" content="{{ seo_keywords_content }}">
<meta name="author" content="HarmonyUI">
{% if app.environment == 'prod' and app.debug == 0 %}
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
{% else %}
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="bingbot" content="noindex, nofollow">
{% endif %}

<link rel="canonical" href="{% block seo_canonical %}{{ app.request.uri }}{% endblock %}">

<link rel="icon" href="/favicon.svg" type="image/svg+xml">
{# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> #}
{# <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> #}
{# <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> #}
{# <link rel="manifest" href="/site.webmanifest"> #}

<meta name="theme-color" content="#3b82f6">
<meta name="msapplication-TileColor" content="#3b82f6">

<meta name="language" content="{{ app.locale|default('en') }}">
